html, body {
    text-align: center;
    height: 100%;
    width: 100%;
}

#logo {
    background-color: purple;
    display: block;
    width: auto;
    align-items: center;
    margin: 2% auto;
}
#banner {
    display: block;
    margin: auto;
    width: 100%;
    height: 25%;
    margin-top: 5%;
}
h1 {
    color: dimgray;
    margin-top: 3%;
}
form {
    margin: 5% auto 5% auto;
    width: 50%;
    border: solid dimgray;
}
#button:hover {
    background-color: #4745ff;
}
label, input {
    margin-top: 5%;
}
