html, body {
    text-align: center;
    height: 100%;
    width: 100%;
}
#query > * {
    display: inline-block;
}
input {
    margin-bottom: 3%;
}
table {
    width: 50%;
}
table, th, td {
    margin: auto;
    border-spacing: 0;
    border: 0.1em solid;
}
h3 {
    text-align: center;
}